@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --primary-color: #40b46a;
    --edit-color: #e8c900;
    --delete-color: #d55151;
    --show-color: #bf76ff;
    --secondary-color: #b8b8b8;
}

.active > .page-link,
.badge,
.btn-create {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-link {
    color: var(--primary-color);
}

.btn-create,
.btn-edit,
.btn-delete,
.btn-show,
.btn-cancel {
    color: #ffffff;
    font-weight: bold;
    border-width: 3px;
}

.btn-filter,
.btn-clear-filter {
    font-weight: bold;
    border-width: 3px;
}

.btn-create:hover,
.btn-filter,
.btn-filter:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
}

.btn-clear-filter,
.btn-clear-filter:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    background-color: transparent;
}

.btn-edit {
    border-color: var(--edit-color);
    color: var(--edit-color);
    background-color: transparent;
}

.btn-delete,
.btn-cancel:hover {
    border-color: var(--delete-color);
    color: var(--delete-color);
    background-color: transparent;
}

.btn-show {
    border-color: var(--show-color);
    color: var(--show-color);
    background-color: transparent;
}

.btn-edit:hover {
    background-color: var(--edit-color);
    border-color: var(--edit-color);
}

.btn-delete:hover,
.btn-cancel {
    background-color: var(--delete-color);
    border-color: var(--delete-color);
}

.btn-show:hover {
    background-color: var(--show-color);
    border-color: var(--show-color);
}

.category-name {
    margin-right: 10px;
}
